<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 6</b></center>    
<center><b><h1>Keval Ajani</b></center>    
<center><b><h1>23010101006</b></center>    
<center><b><h1>class - 4A</b></center>    
<center><b><h1>Roll No. 221</b></center>
<pre>

# Tuple

### 01) WAP to find sum of tuple elements.

In [2]:
t1 = (10,20,30,40,50)
sum = 0
for i in t1:
    sum+=i
print(sum)

150

### 02) WAP to find Maximum and Minimum K elements in a given tuple.

In [13]:
t1 = (1,5,2,8,3,4,9)
sortedTuple = tuple(sorted(t1))

k = int(input("Enter k :"))
print("Max Num : ",end="")
for i in range(k):
    print(sortedTuple[i],end=" ")
print()
print("Min Num : ",end="")
for i in range(k):
    print(sortedTuple[-i-1],end=" ")

Max Num : 1 2 3
Min Num : 9 8 5

In [ ]:
t1 = (1,5,2,8,3,4,9)
sortedTuple = tuple(sorted(t1))

k = int(input("Enter k :"))

min_k_element = sortedTuple[:k]
max_k_element = sortedTuple[-k:]

print("Min Element :",min_k_element)
print("Max Element :",max_k_element)

Min Element : (1, 2, 3)
Max Element : (5, 8, 9)

### 03) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [20]:
l1 = [(10,20),(12,15),(5,25),(18,22)]

k = int(input("Enter Divisor(k) :"))
ans = []
for i in l1:
    for j in i:
        if j%k!=0:
            break
    else:
        ans.append(i)    
ans

[(12, 15)]

### 04) WAP to create a list of tuples from given list having number and its cube in each tuple.

In [22]:
l1 = [2,4,1,6,3,7,5,9]
ans = [(i,i**3) for i in l1]
ans

[(2, 8), (4, 64), (1, 1), (6, 216), (3, 27), (7, 343), (5, 125), (9, 729)]

### 05) WAP to find tuples with all positive elements from the given list of tuples.

In [24]:
l1 = [(10,20),(-12,15),(-5,-25),(18,22)]
ans = []
for i in l1:
    for j in i:
        if j<0:
            break
    else:
        ans.append(i)
ans

[(10, 20), (18, 22)]

### 06) WAP to add tuple to list and vice â€“ versa.

In [26]:
l1 = [1,2,3,4,5]
l1.append((4,3,5))

t1 = (3,4,12,[5,46,12])
t1

(3, 4, 12, [5, 46, 12])

### 07) WAP to remove tuples of length K.

In [ ]:
l1 = [(10,20),(12,15,27),(5,25),(18,22,15,50)]
k = int(input("Enter Length :"))
for i in l1:
    if len(i)==k:
        l1.remove(i)
l1

[(12, 15, 27), (18, 22, 15, 50)]

### 08) WAP to remove duplicates from tuple.

In [38]:
t1 = (10,20,10,30,20,50,60)
# unique_tuple = tuple(set(t1))
listUnique = []
for i in t1:
    if i not in listUnique:
        listUnique.append(i)
unique_tuple = tuple(listUnique)        
unique_tuple

(10, 20, 30, 50, 60)

### 09) WAP to multiply adjacent elements of a tuple and print that resultant tuple.

In [40]:
t1 = (1,5,2,7,3,8)
ans = tuple(t1[i]*t1[i+1] for i in range(len(t1)-1))
ans

(5, 10, 14, 21, 24)

### 10) WAP to test if the given tuple is distinct or not.

In [42]:
t1 = (10,20,10,30,20,50,60)
is_distinct = (len(t1) == len(set(t1)))
is_distinct

True