<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 7 (Part 2)</b></center>    
<pre>

### Step 1: Load the Dataset
Load the `Tdata.csv` file and display the first few rows.

In [12]:
import pandas as pd
import numpy as np
from itertools import combinations

df = pd.read_csv("Tdata.csv")
df

  Transaction  bread  butter  coffee  eggs  jam  milk
0          T1      1       1       0     0    0     1
1          T2      1       1       0     0    1     0
2          T3      1       0       0     1    0     1
3          T4      1       1       0     0    0     1
4          T5      1       0       1     0    0     0
5          T6      0       0       1     1    1     0

### Step 2: Drop the 'Transaction' Column
We're only interested in the items (not the transaction IDs).

In [18]:
df.drop(columns='Transaction',inplace=True)
df

   bread  butter  coffee  eggs  jam  milk
0      1       1       0     0    0     1
1      1       1       0     0    1     0
2      1       0       0     1    0     1
3      1       1       0     0    0     1
4      1       0       1     0    0     0
5      0       0       1     1    1     0

### Step 3: Count Single Items
See how many transactions include each item.

In [7]:
df.sum()

bread     5
butter    3
coffee    2
eggs      2
jam       2
milk      3
dtype: int64

### Step 4: Define Apriori Function
This function finds frequent itemsets of size 1, 2, and 3 with minimum support.

In [42]:
def find_frequent_itemsets(df, min_support):
    n = len(df)
    result = []
    
    for k in [1, 2, 3]:
        for items in combinations(df.columns, k):
            mask = df[list(items)].all(axis=1)
            support = mask.sum() / n
            if support >= min_support:
                result.append((frozenset(items), round(support,2)))
    return result

min_support = 0.5
frequent_itemsets = find_frequent_itemsets(df, min_support)
for itemset, support in frequent_itemsets:
    print(f"Itemset: {set(itemset)} -> Support: {support}")

Itemset: {'bread'} -> Support: 0.83
Itemset: {'butter'} -> Support: 0.5
Itemset: {'milk'} -> Support: 0.5
Itemset: {'bread', 'butter'} -> Support: 0.5
Itemset: {'bread', 'milk'} -> Support: 0.5

### Step 5: Run Apriori
Set `min_support = 0.6` and display the frequent itemsets.

In [44]:
frequent_itemsets = find_frequent_itemsets(df, min_support=0.6)
for itemset, support in frequent_itemsets:
    print(f"{set(itemset)} -> Support: {support}")

{'bread'} -> Support: 0.83

### Step 6 Display as a DataFrame

In [45]:
pd.DataFrame(frequent_itemsets, columns=['Itemset', 'Support'])

   Itemset  Support
0  (bread)     0.83

['bread', 'butter', 'coffee', 'eggs', 'jam', 'milk']

# Orange Tool : - >Generate Same Frequent Patterns in Orange tools

# Extra : - >  Define Apriori Function without itertools

In [53]:
# l1 = list(df.columns)
# def getCombination(l1, k):
#     if k == 0:
#         return [[]]
#     if len(l1) < k:
#         return []
    
#     result = []
#     for i in range(len(l1)):
#         item = l1[i]
#         rest = l1[i+1:]
#         for combination in getCombination(rest, k-1):
#             result.append([item] + combination)
#     return result